/*http://www.fontsquirrel.com/tools/webfont-generator.*/

/* Define mobile styles */
@media only screen 
{ 
	/*Commons.*/
	body{font-size: 13px;}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="checkbox"],
	input[type="radio"],
	textarea,
	button,
	.button,
	table thead tr th,
	table tbody tr td,
	select{font-size: 12px;}
	.breadcrumb, 
	button.tiny, 
	.button.tiny{padding: 4px 8px;}
	.alert-box p{margin: 0;}
	.breadcrumb{margin: 8px 0;}
	table{width: 100%;}
	a.logo{display: block; padding-top: 2px;}
	.top-bar-section li:not(.has-form) a:not(.button):hover{background: #008CBA;}
	#container > .row{padding-left: 8px; padding-right: 8px;}
	.ui-datepicker span,
	a.ui-state-default{font-size: 11px; font-weight: normal;}
	.ui-state-highlight, 
	.ui-widget-content .ui-state-highlight, 
	.ui-widget-header .ui-state-highlight{border: 1px solid #008CBA;}
	table.list .options{width: 150px; text-align: center;}
	/*/Commons.*/

	/*Auth.*/
	i.step.fi-torsos-male-female.size-36{font-size: 36px;}
	i.step.fi-torsos-male-female.size-36,
	input[type="file"],
	#user.update .avatar{display: inline-block;}
	input[type="file"]{width: auto;}
	#user.update .avatar{width: 36px; height: 36px;}
	#auth.login .btnFb{margin: 4px 0; display: block;}
	#permission.userPermission .panel.radius,
	#permission.userPermission .users.panel .row .row{padding: 0;}
	#permission.userPermission .users.panel.radius{padding: 4px 17px;}
	#permission.userPermission input[type='checkbox']{margin: 4px;}
	#permission.userPermission .permissions > div{display: block;}
	/*/Auth.*/
} 

 /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em)
{
	/*Auth.*/
	#permission.userPermission .permissions > div{display: inline;}
	/*/Auth.*/
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em)
{
	/*Commons.*/
	#container > .row{padding-left: 0; padding-right: 0;}
	.breadcrumb{padding: 0;}
	/*/Commons.*/
} 

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { } 

/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) { } 