/*http://www.fontsquirrel.com/tools/webfont-generator.*/

/* Define mobile styles */
@media only screen 
{ 
	.alert-box p{margin: 0;}

	/*Auth.*/
	#permission.userPermission .panel.radius
	{
		padding: 0;
	}
	#permission.userPermission .users.panel.radius
	{
		padding: 17px;
	}
	#permission.userPermission input[type='checkbox']
	{
		margin: 0 8px;
	}
	/*/Auth.*/
} 

 /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { }

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) { } 

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { } 

/* min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) { } 